<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logmanager.mapper.LogsMapper">

    <insert id="insertLogs" parameterType="com.logmanager.entity.LogsSubject">
        INSERT INTO `logs_subject`
        (`description`, `username`, `start_time`, `spend_time`, `url`, `method_id`, `ip`, `parameter`, `result`,
         `device`, `type_id`, `error_id`)
        VALUES (#{description}, #{username}, #{startTime}, #{spendTime}, #{url}, #{methodId}, #{ip}, #{parameter},
                #{result}, #{device}, #{typeId}, #{errorId});
    </insert>
    <select id="selectAll" resultType="com.logmanager.entity.LogsSubject">
        SELECT `logs_id`,
               `description`,
               `username`,
               `start_time`,
               `spend_time`,
               `url`,
               `method_id`,
               `ip`,
               `parameter`,
               `result`,
               `device`,
               `type_id`,
               `error_id`
        FROM `logs_subject`
        ORDER BY `logs_id` ASC;
    </select>
    <select id="selectLogsByLike" resultType="com.logmanager.entity.LogsSubject">
        SELECT
        `logs_id`,`description`,`username`,`start_time`,`spend_time`,`url`,`method_id`,`ip`,`parameter`,`result`,`device`,`type_id`,`error_id`
        FROM
        `logs_subject`
        <where>
            <if test="description!=null and description!=''">
                `description` LIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="username!=null and username!=''">
                AND `username` LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="startTime!= null and startTime!=''">
                AND `start_time` LIKE CONCAT('%', #{startTime}, '%')
            </if>
            <if test="spendTime!=null and spendTime!=''">
                AND `spend_time` LIKE CONCAT('%', #{spendTime}, '%')
            </if>
            <if test="url!=null and url!=''">
                AND `url` LIKE CONCAT('%', #{url}, '%')
            </if>
            <if test="methodId!=null">
                AND `method_id` = #{methodId}
            </if>
            <if test="ip!=null and ip!=''">
                AND `ip` LIKE CONCAT('%', #{ip}, '%')
            </if>
            <if test="parameter!=null and parameter!=''">
                AND `parameter` LIKE CONCAT('%', #{parameter}, '%')
            </if>
            <if test="result!=null and result!=''">
                AND `result` LIKE CONCAT('%', #{result}, '%')
            </if>
            <if test="device!=null and device!=''">
                AND `device` LIKE CONCAT('%', #{device}, '%')
            </if>
            <if test="typeId!=null">
                AND `type_id` = #{typeId}
            </if>
            <if test="errorId!=null">
                AND `error_id` = #{errorId}
            </if>
        </where>
        ORDER BY
        `logs_id` ASC;
    </select>
</mapper>
