<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logmanager.mapper.MethodTypeMapper">
    <select id="selectOneByType" resultType="com.logmanager.entity.MethodType">
        SELECT `method_id`,`method` FROM `method_type` WHERE `method`=#{methodType};
    </select>
    <select id="selectOneById" resultType="com.logmanager.entity.MethodType">
        SELECT `method_id`,`method` FROM `method_type` WHERE `method_id`=#{methodId};
    </select>
    <select id="selectAll" resultType="com.logmanager.entity.MethodType">
        SELECT `method_id`,`method` FROM `method_type` ORDER BY `method_id` ASC;
    </select>
</mapper>